<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Digit Recognition</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/main.css') }}" />
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
    <div id="wrapper">
            <div class="col1">
                <div class="center">
                <canvas id="canvas" width="400" height="400"></canvas>
                <div class="buttons">
                    <button id="clear-canvas">Очистити</button>
                    <button id="send">Розпізнати</button>
                </div>
            </div>
        </div>
        <div class="col2">
            <div id="loader">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
            <div id="result"><!-- predicted number will ne placed here --></div>
        </div>
    </div>
</body>
</html>